<div class="dropdown">
    <a class="btn btn-outline-danger dropdown-toggle" href="#" id="managedropdownmennu" data-toggle="dropdown">
        Manage
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" asp-action="index" asp-controller="DbManage" asp-area="Database">Database</a>
    </div>
</div>