@{
    var product = ViewData["product"] as ProductModel;
}
<p>@ViewData["title"]</p>

<div class="card bg-primary text-white">
    <h1 class="card-header">@product.Name</h1>
    <div class="card-body">
        <p class="card-text">
            Giá: @product.Price
        </p>
    </div>

</div>
