@model App.Models.Blog.Post

@{
    ViewData["Title"] = "Xóa bài viết";
}

<h1>@ViewData["Title"]</h1>

<h3>Có chắc chắn xóa bài viết?</h3>
<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="PostId" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index">Danh sách bài viết</a>
    </form>
</div>
